parameters:
    paths:
        - app
        - bootstrap
        - config
        - database
        - routes
        - tests

    # The level 9 is the highest level
    level: max

    # Settings
    rememberPossiblyImpureFunctionValues: false
    checkGenericClassInNonGenericObjectType: true
    checkMissingCallableSignature: true
    checkModelProperties: true

    # Stubs
    stubFiles:
        - ./.phpstan/Stubs/Geotools.php
        - ./.phpstan/Stubs/Faker.php

    # Editor
    editorUrl: 'phpstorm://open?file=%%relFile%%&line=%%line%%'
    editorUrlTitle: '%%relFile%%:%%line%%'

includes:
    # Extensions
    - ./vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - ./vendor/phpstan/phpstan-mockery/extension.neon
    - ./vendor/phpstan/phpstan-phpunit/extension.neon
    - ./vendor/phpstan/phpstan-phpunit/rules.neon
    - ./vendor/phpstan/phpstan-strict-rules/rules.neon
    - ./vendor/nunomaduro/larastan/extension.neon

    # App
    - .phpstan/Extensions/Container/extension.neon
    - .phpstan/Extensions/Settings/extension.neon
    - .phpstan/Extensions/I18n/extension.neon

    # Baseline
    - phpstan-baseline-well-known.neon
    - phpstan-baseline.neon
