<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         cacheResultFile=".phpunit/result.cache"
         bootstrap="vendor/autoload.php"
         colors="true"
         executionOrder="random"
>
    <testsuites>
        <testsuite name="App">
            <directory suffix="Test.php">./app</directory>
        </testsuite>
        <testsuite name="Tests">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
        <testsuite name="Seeders">
            <directory suffix="Test.php">./database/seeders</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true" cacheDirectory=".phpunit/code-coverage">
        <include>
            <directory suffix=".php">./app</directory>
            <directory suffix=".php">./tests</directory>
            <directory suffix=".php">./database/seeders</directory>
        </include>
        <exclude>
            <directory suffix="Test.php">./app</directory>
            <directory suffix="Test.php">./tests</directory>
            <directory suffix=".php">./tests/Data</directory>
            <directory suffix="Test.php">./database/seeders</directory>
        </exclude>
    </coverage>
    <php>
        <env name="APP_URL" value="https://example.com"/>
        <env name="APP_ENV" value="testing"/>
        <env name="REDIS_PREFIX" value="testing_"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="DB_DATABASE" value="testing"/>
        <env name="EP_AUDIT_DB_DATABASE" value="testing"/>
        <env name="EP_LOGGER_DB_DATABASE" value="testing"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="SCOUT_DRIVER" value="null"/>
        <env name="EP_LOGGER_ENABLED" value="false"/>
        <env name="LIGHTHOUSE_CACHE_ENABLE" value="false"/>
        <env name="EP_LOG_EMAIL_ENABLED" value="false"/>
        <env name="EP_LOG_SENTRY_ENABLED" value="false"/>
        <env name="EP_CACHE_GRAPHQL_ENABLED" value="false"/>
        <env name="EP_CACHE_GRAPHQL_STORE" value="null"/>
        <env name="EP_CACHE_SERVICE_STORE" value="null"/>
        <env name="EP_DATA_LOADER_ENABLED" value="false"/>
        <env name="EP_KEYCLOAK_ENABLED" value="false"/>
        <env name="EP_DOCUMENT_STATUSES_HIDDEN" value="f1fa29b8-0c94-4ddc-b69c-6f87ae684989"/>
        <env name="EP_DOCUMENT_STATUSES_NO_PRICE" value="d1265751-0595-4e2e-a257-2537b5177f78"/>
    </php>
</phpunit>
