# The extension provides proper return types for Container::make()
#
# @see https://github.com/nunomaduro/larastan/pull/945
# @ses https://github.com/nunomaduro/larastan/issues/941
services:
    -
        class: Tests\PhpStan\Larastan\Container\ContainerExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
